{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css.min.css' %}">
    <title>Quine Minimizer</title>
</head>
<body>
<h1>Минимизатор Квайна</h1>
<form class="form-row" method="post">
    {% csrf_token %}
    <input name="args_count" type="text" placeholder="Введите кол-во переменных">
    <input name="args" type="text" placeholder="Введите переменныe">
    <input type="submit" value="Далее">
</form>

{% if primary_implicants %}
    <h5>Первичные импликанты:</h5>
    {% for implicant in primary_implicants %}
        <h3>{{ implicant }}</h3>
    {% endfor %}
{% endif %}

{% if table %}
    <h5>Таблица покрытий</h5>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">N</th>
            {% for term in terms %}
                <th scope="col">{{ term }}</th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for implicant in primary_implicants %}
            <tr>
                <th scope="row">{{ implicant }}</th>
                {% for item in table.0 %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


</body>
</html>